# Copyright (c) 2026 Huawei Technologies Co., Ltd. All Rights Reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.
pytest==8.3.2
pytest-cov
pre-commit
pyrefly==0.45.1
transformers==4.57.6
# Test dependencies
einops
expecttest
tomli_w
